<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Airtable Integration</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
        .flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .vstack {
            width: 100%;
            max-width: 1200px; /* Set max-width to control the maximum width */
            margin: 0 auto; /* Center the content */
            padding: 20px;
            box-sizing: border-box;
        }
        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            box-sizing: border-box;
        }
        .input-field,
        .submit-button {
            padding: 12px;
            border-radius: 6px;
            border: 1px solid #ddd;
            width: 100%;
            box-sizing: border-box;
            font-size: 16px;
        }
        .submit-button {
            background-color: #28a745;
            color: #ffffff;
            border: none;
            cursor: pointer;
        }
        .submit-button:hover {
            background-color: #218838;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .subtitle {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .time-display {
            font-family: 'Courier New', monospace;
            background-color: #fafafa;
            padding: 5px 10px;
            border-radius: 4px;
            display: inline-block;
            margin-bottom: 20px;
            font-size: 20px;
            text-align: center;
        }
        .message {
            font-size: 14px;
            text-align: center;
            padding: 10px;
            border-radius: 4px;
            margin-top: 10px;
        }
        .error {
            color: #e74c3c;
            background-color: #fbe9e7;
        }
        .warning {
            color: black;
            background-color: orange;
        }
        .success {
            color: #2ecc71;
            background-color: #e9fbe7;
        }
        .airtable-embed {
            width: 100%;
            height: 533px;
            border: 1px solid #ccc;
            background: transparent;
            box-sizing: border-box;
        }
    </style>
</head>
<body onload="updateIframe(station)">
    <div class="flex vstack">
        <div class="container">
            <!-- <img src="MBBD.jpg" alt="MBBD Logo"> -->
            <p class="title"><span id="station"></span> Attendance Check-in</p>
            <div id="clock" class="time-display"></div>
            
            <form id="dataForm">
                <h2>Scan employee badge below. Click on the text field to ensure scanner is entering data correctly.</h2>
                <input type="number" name="badgeNumber" id="dataField" placeholder="Enter badge number" class="input-field" minlength = "8" maxlength="8">
                <input type="hidden" id="stationNew" name="station" value="updateValue()">
            </form>
            
            <div id="form1message" class="message"></div>
            
            <!-- New form for entering driver's name -->
            <br>
            <form id="driverForm">
                <p class="subtitle">If driver does not have their badge, select their name here:</p>
                <select name="driverName" id="driverNameDropdown" class="input-field">
                    {% for d in drivers %}
                        <option value="{{d}}">{{d}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit" class="submit-button">
            </form>
            <div id="form2message" class="message"></div>
        </div>
        <br>  
        <iframe class="airtable-embed" frameborder="0" id = "iFrame"></iframe>
        <div class="container">
            <h2>Add or update driver's badges</h2>
            <form id="addBadgeForm">
                <p class="subtitle">Select driver's name here:</p>
                <select name="addDriverDropdown" id="addDriverDropdown" class="input-field">
                    <option value="" disabled selected>Select an option</option>
                    {% for d in drivers %}
                        <option value="{{d}}">{{d}}</option>
                    {% endfor %}
                </select>
                <input type="number" name="newBadgeNumber" id="newDriverDataField" placeholder="Enter badge number" class="input-field" minlength = "8" maxlength="8">
                <input type="submit" value="Submit" id = "bottomSubmitButton" class="submit-button">
                <input type="hidden" id="station" name="station" value="">
            </form>
            <div id="form3message" class="message"></div>
        </div>
    </div>   
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const stationLoad = urlParams.get('station'); // Get the 'station' parameter from the URL
            console.log("ON LOAD: " + stationLoad);
            if (stationLoad == "DDW7" || stationLoad == "DMD9") {
                console.log("GOT HERE IN LOAD");
                document.getElementById('stationNew').value = stationLoad; // Set the hidden field's value
                updateIframe(stationLoad); // Pass station value to updateIframe
            }
            document.getElementById('dataField').focus();
        };
        
        const urlParams = new URLSearchParams(window.location.search);
        const station = urlParams.get('station');
        function setStationDetails(stationName) {
            document.getElementById('station').textContent = stationName;
        }
        
        if (station === 'DDW7') {
            setStationDetails('DDW7');
        } else if (station === 'DMD9') {
            setStationDetails('DMD9');
        } 

        fetch(`/api/drivers?station=${station}`)
            .then(response => response.json())
            .then(data => {
                var dropdown = document.getElementById('driverNameDropdown');
                console.log("InnerHTML: " + dropdown.innerHTML);
                dropdown.innerHTML = ''; // Clear existing options
                data.drivers.forEach(driver => {
                    var option = document.createElement('option');
                    option.value = driver;
                    option.textContent = driver;
                    dropdown.appendChild(option);
                });
                var dropdown2 = document.getElementById('addDriverDropdown');
                dropdown2.innerHTML = ''; // Clear existing options
                data.drivers.forEach(driver => {
                    var option = document.createElement('option');
                    option.value = driver;
                    option.textContent = driver;
                    dropdown2.appendChild(option);
                })
            })
            .catch(error => console.error('Error fetching drivers:', error));
        
                // Create a wait function
        function wait(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        // Usage in an async function
        async function waitOneSecond() {
            console.log("Start waiting...");
            
            // Wait for 1 second
            await wait(1000);
            
            console.log("1 second later...");
        }
        const iframeUrls = {
            'DDW7': 'https://airtable.com/embed/appeACdHweImPB2eo/shr7UxlKS1mf5o70d', // URL for DDW7
            'DMD9': 'https://airtable.com/embed/appeACdHweImPB2eo/shrWdWWSIGFvsaY5B'  // URL for DMD9
        };
        function refreshIframe() {
            console.log("TRIED REFRESHING IFRAME");
            var iframe = document.getElementById('iFrame');
            var src = iframe.src;
            console.log("IFRAME SRC: " + src);
            iframe.src = ''; // Temporarily set src to empty
            iframe.src = src; // Reset to the original src to force a refresh
        }

        function updateIframe(inputStation) {
            console.log("UPDATE IFRAME HERE");
            const station = document.getElementById('stationNew').value;
            console.log("updateIFrame: " + station)
            const iframe = document.getElementById('iFrame');
            iframe.src = iframeUrls[station];
            refreshIframe(); // Refresh the iframe to load the new content
        }

        function refreshDropdowns(name){
            var dropdown = document.getElementById('driverNameDropdown');
            for (let i = 0; i < dropdown.options.length; i++) {
                if (dropdown.options[i].value === name) {
                    dropdown.remove(i); // Remove the option
                    break;
                }
                }
            var dropdown = document.getElementById('addDriverDropdown');
            for (let i = 0; i < dropdown.options.length; i++) {
                if (dropdown.options[i].value === name) {
                    dropdown.remove(i); // Remove the option
                    break;
                }
            }
        }

        document.getElementById('dataField').addEventListener('input', function() {
            event.preventDefault();
            if (this.value) {
                var dataField = this;
                var badgeNumber = dataField.value;
                var time = document.getElementById('clock').textContent
                if (badgeNumber.length >= 5){
                    waitOneSecond();
                    const urlParams = new URLSearchParams(window.location.search);
                    const station = urlParams.get('station');  
                    console.log("STATION FROM URL 1: " + station);          
                    var formData = JSON.stringify({ badgeNumber: badgeNumber, station: station, inputType: "Scan", submissionTime: time});
                    fetch('/scan', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: formData
                    }).then(response => response.json())
                        .then(data => {
                            if (data.message == "Success! Record created.") {
                                dataField.value = ''; // Clear the input field
                                document.getElementById('form1message').textContent = data['employee'] + " successfully checked in at " + document.getElementById('clock').textContent;
                                document.getElementById('form1message').classList.add('success');
                                document.getElementById('form1message').classList.remove('error');
                                document.getElementById("dataField").value = '';
                                document.getElementById('form2message').textContent = "";
                                document.getElementById('form3message').textContent = "";
                                refreshDropdowns(data['employee'])
                                refreshIframe()
                            } else {
                                document.getElementById('form1message').textContent = "Could not check-in driver. Not on schedule?";
                                document.getElementById('form1message').classList.remove('error');
                                document.getElementById('form1message').classList.remove('success');
                                document.getElementById('form1message').classList.add('warning');
                                document.getElementById("dataField").value = '';
                                document.getElementById('form2message').textContent = "";
                                document.getElementById('form3message').textContent = "";
                            }
                        }).catch(error => {
                            console.error('Error:', error);
                            document.getElementById('form1message').textContent = "An error occurred.";
                            document.getElementById('form1message').classList.remove('success');
                            document.getElementById('form1message').classList.add('error');
                            document.getElementById("dataField").value = '';
                            document.getElementById('form2message').textContent = "";
                            document.getElementById('form3message').textContent = "";
                        });
                    }
                }
            });
            function updateClock() {
                var now = new Date();
                var hours = String(now.getHours()).padStart(2, '0');
                var minutes = String(now.getMinutes()).padStart(2, '0');
                var seconds = String(now.getSeconds()).padStart(2, '0');
                document.getElementById('clock').textContent = `${hours}:${minutes}:${seconds}`;
            }

            setInterval(updateClock, 1000);
            updateClock(); // Initial call to display clock immediately

        
        document.getElementById('driverForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var dataField = document.getElementById('driverNameDropdown');
            var driverName = dataField.value;
            const urlParams = new URLSearchParams(window.location.search);
            const station = urlParams.get('station');
            var time = document.getElementById('clock').textContent
            var formData = JSON.stringify({ EmployeeName: driverName, badgeNumber: "99999999", inputType: "Manual input", station: station, submissionTime: time});
            fetch('/scan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: formData
            }).then(response => response.json())
              .then(data => {
                if (data.message == "Success! Record created.") {
                    dataField.value = ''; // Clear the input field
                    document.getElementById('form2message').textContent = data['employee'] + " successfully checked in at " + document.getElementById('clock').textContent;
                    document.getElementById('form2message').classList.remove('error');
                    document.getElementById('form2message').classList.add('success');
                    document.getElementById('form1message').classList.remove('success');
                    document.getElementById('form3message').classList.remove('success');
                    document.getElementById('form1message').textContent = "";
                    document.getElementById('form3message').textContent = "";
                    const urlParams = new URLSearchParams(window.location.search);
                    const station = urlParams.get('station');
                    console.log("STATION LOCATION 2: " + station);
                    refreshDropdowns(data['employee']);
                    refreshIframe();
                  } else {
                      document.getElementById('form2message').textContent = data.message;
                      document.getElementById('form2message').classList.add('error');
                      document.getElementById('form2message').classList.remove('success');
                      document.getElementById('form1message').textContent = "";
                      document.getElementById('form3message').textContent = "";
                  }
              }).catch(error => {
                  console.error('Error:', error);
                  document.getElementById('form2message').textContent = "An error occurred.";
                  document.getElementById('form2message').classList.add('error');
                  document.getElementById('form2message').classList.remove('success');
                  document.getElementById('form1message').textContent = "";
                  document.getElementById('form3message').textContent = "";

              });
        });
        

        document.getElementById('bottomSubmitButton').addEventListener('click', function(event) {
            event.preventDefault();
            var dataField = document.getElementById('addDriverDropdown');
            var badge_Number = document.getElementById("newDriverDataField").value
            var newDriverName = dataField.value;
            const urlParams = new URLSearchParams(window.location.search);
            const station = urlParams.get('station');
            var time = document.getElementById('clock').textContent
            var formData = JSON.stringify({ EmployeeName: newDriverName, badgeNumber: badge_Number, inputType: "Scan", station: station, submissionTime: time});
            fetch('/scan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: formData
            }).then(response => response.json())
              .then(data => {
                    if (data.message == "Success! Record created.") {
                        dataField.value = ''; // Clear the input field
                        document.getElementById('form3message').textContent = data['employee'] + " successfully checked in at " + document.getElementById('clock').textContent;
                        document.getElementById('form3message').classList.remove('error');
                        document.getElementById('form3message').classList.add('success');
                        document.getElementById('form1message').classList.remove('success');
                        document.getElementById('form2message').classList.remove('success');

                        document.getElementById('form1message').textContent = "";
                        const urlParams = new URLSearchParams(window.location.search);
                        const station = urlParams.get('station');
                        console.log("STATION LOCATION 3: " + station);
                        refreshDropdowns(data['employee'])
                        refreshIframe()
                        document.getElementById('newDriverDataField').value = "";

                  } else {
                      document.getElementById('form3message').textContent = data.message;
                      document.getElementById('form3message').classList.add('error');
                      document.getElementById('form3message').classList.remove('success');
                      document.getElementById('form1message').textContent = "";
                      document.getElementById('form2message').textContent = "";

                      
                  }
              }).catch(error => {
                  console.error('Error:', error);
                  document.getElementById('form3message').textContent = "An error occurred.";
                  document.getElementById('form3message').classList.add('error');
                  document.getElementById('form3message').classList.remove('success');
                  document.getElementById('form1message').textContent = "";
                  document.getElementById('form2message').textContent = "";

                  
              });
              
        });
    </script> 
</body>
</html>


